.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
  
    .top {
      padding: 20px;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      border-bottom: 1px solid #dddddd35;
      display: flex;
  
      .user {
        align-items: center;
        gap: 20px;
        display: flex;
  
        img {
          border-radius: 50%;
          height: 50px;
          width: 50px;
          object-fit: cover;
        }
  
        .texts {
          display: flex;
          align-items: flex-start;
          gap: 5px;
          flex-direction: column;
  
          span {
            font-weight: bold;
            font-size: 19px;
          }
  
          p {
            font-weight: 500;
            font-size: 14px;
            color: #a5a5a5;
          }
        }
      }
  
      .icons {
        display: flex;
        gap: 20px;
  
        img {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
    }
  
    .center {
      padding: 20px;
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
  
      .message {
        max-width: 70%;
        gap: 10px;
        display: flex;
        margin-bottom: 10px;
  
        &.own {
          align-self: flex-end;
  
          .texts p {
            background-color: rgb(27, 27, 92);
            color: white;
          }
        }
  
        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
  
        .texts {
          flex: 1;
          display: flex;
          gap: 5px;
          flex-direction: column;
  
          p {
            background-color: rgba(17, 25, 40, 0.3);
            border-radius: 10px;
            padding: 15px;
            font-size: 15px;
            line-height: 1.4;
          }
  
          span {
            font-size: 12px;
            color: #a5a5a5;
            align-self: flex-end;
          }
        }
      }
    }
  
    .bottom {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      padding: 15px 20px;
      border-top: 1px solid #dddddd35;
      align-items: center;
      background-color: #1f2933;
  
      .icons {
        display: flex;
        gap: 10px;
  
        img {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
  
      input {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        background-color: rgba(17, 25, 40, 0.5);
        color: white;
        font-size: 16px;
        border: none;
      }
  
      .send {
        background-color: #3b82f6;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #2563eb;
        }
      }
  
      .emoji {
        display: flex;
        position: relative;
  
        .picker {
          position: absolute;
          bottom: 40px;
          left: 0;
          z-index: 10;
        }
  
        img {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
    }
  }
  
  /* Scrollbar styling for .center to match aesthetic */
  .center {
    scrollbar-width: thin;
    scrollbar-color: #a5a5a5 transparent;
  }
  
  .center::-webkit-scrollbar {
    width: 6px;
  }
  
  .center::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .center::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 10px;
  }
  