.userInfo{
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .user{
        display: flex;
        gap: 30px;
        align-items: center;

        img{
            
            display: flex;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .icons{
        display: flex;
        gap: 20px;

        img{
            height: 20px;
            width: 20px;
        }
    }
}