.chatlist {
  flex: 1;
  overflow-y: auto;

  .Search {
    display: flex;
    
    gap: 20px;
    align-items: center;
    padding: 20px;

    .SearchBar {
      flex: 1;
      display: flex;
      padding: 10px 20px;
      border-radius: 10px;
      gap: 10px;
      background-color: rgba(17, 25, 40, 0.5);

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        height: 20px;
        width: 20px;
      }
    }

    .add {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      background-color: rgba(17, 25, 40, 0.5);
      color: white;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(17, 25, 40, 0.8);
      }
    }
  }

  .item {
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
    border-radius: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(17, 25, 40, 0.3);
    }

    img {
      border-radius: 50%;
      height: 36px;
      width: 36px;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        font-weight: 500;
        font-size: 16px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        color: #a5a5a5;
      }
    }
  }
}

/* Scrollbar styling for .chatlist for a better aesthetic */
.chatlist {
  scrollbar-width: thin;
  scrollbar-color: #a5a5a5 transparent;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
}

.chatlist::-webkit-scrollbar-track {
  background: transparent;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 10px;
}
