.detail {
  flex: 1;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    gap: 5px;
    border-bottom: 1px solid #dddddd35;

    img {
      display: flex;
      height: 30px;
      width: 30px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

    .option {
      .title {
        align-items: center;
        justify-content: space-between;
        display: flex;

        img {
          border-radius: 50%;
          height: 30px;
          width: 30px;
          background-color: rgb(17, 25, 40, 0.3);
          color: white;
          padding: 10px;
          cursor: pointer;
        }
      }
      .photos {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 20px;
              height: 20px;
              border-radius: 5px;
              object-fit: cover;
            }
            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            background-color: rgb(17, 25, 40, 0.3);
            border-radius: 50%;
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
    button {
      padding: 5px 10px;
      background-color: rgb(230, 74, 105, 0.553);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: red;
      }
      &.logout{
        padding: 5px;
        background-color: rgb(44, 44, 247);

        &:hover{
          background-color: blue;
        }
        

      }
    }
  }
}
