.login{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   gap: 100px;

   .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    form{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        input{
            padding: 10px;
            border: none;
            outline: none;
            background-color: rgb(17,25,40,0.6);
            color: white;
            border-radius: 5px;
        }
        label{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            text-decoration: underline;

            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 10px;
                opacity: 0.6;
            }
        }
button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #1fBef1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}
    }
   }
   .separator{
    height: 80%;
    width: 2px;
    background-color: #dddddd35;
   }
}